.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.app-header .menu-desktop {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Alinea verticalmente */
}

.hamburger {
  position: absolute;
  right: 10px;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 10px;
}

.hamburger span {
  width: 40px;
  height: 7px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.red-span {
  background-color: #ff0000;
}
.green-span {
  background-color: #008000;
}

.white-span {
  background-color: #ffffff;
}

/* Animación del botón al abrir */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  display: none;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.hamburger.open {
  margin-top: 10px;
}

.menu-desktop {
  display: flex;
  list-style: none;
  background: rgba(255, 255, 255, 0);
  z-index: 1000;
  padding: 10px 0;
  transition: all 0.3s ease; /* Transición suave para el hover */
  gap: 20px;
  font-size: 1.1rem;
}

.menu-desktop:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.menu-desktop li a {
  text-decoration: none;
  color: #4b3a29;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave para hover y clic */
}

.menu-desktop li a:hover {
  color: #c6a87d;
}

.menu-desktop li a.disabled-link {
  pointer-events: none; /* Hace que no sean clickeables */
  color: #b8afa5; /* Color gris claro */
  cursor: not-allowed; /* Cursor de "no permitido" */
  padding: 10px 15px;
  border-radius: 5px;
}

/* Menú móvil desplegable */
.menu-mobile {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: top 0.5s ease;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.menu-mobile.open {
  top: 0; /* Muestra el menú móvil */
}

.menu-mobile li {
  padding: 5px;
  padding-bottom: 15px;
}

.menu-mobile li a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-mobile li a.disabled-link {
  pointer-events: none;
  color: #bbb;
  cursor: not-allowed;
}

/* Botón para cerrar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.disabled-link {
  pointer-events: none;
  color: #bbb;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Muestra el botón hamburguesa */
  }

  .menu-mobile {
    display: block; /* Muestra el menú desplegable */
  }

  .menu-desktop {
    display: none; /* Muestra el menú desplegable */
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none; /* Oculta el botón hamburguesa */
  }

  .menu-mobile {
    display: none; /* Oculta el menú hamburguesa */
  }

  .menu-desktop {
    display: flex;
  }
}

.in-progress-message {
  text-decoration: none;
  color: #183553;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 2rem;
}
