.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0;
  transition: all 0.3s ease; /* Transición suave para el hover */
}

.app-header:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.app-header nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Alinea verticalmente */
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
  padding: 0;
  margin: 0;
}
.menu li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave para hover y clic */
}

.menu li a:hover {
  color: #0056b3; /* Azul más oscuro */
  text-decoration: none; /* Asegura que no haya subrayado */
}

.menu li a.disabled-link {
  pointer-events: none; /* Hace que no sean clickeables */
  color: #bbb; /* Color gris claro */
  cursor: not-allowed; /* Cursor de "no permitido" */
  padding: 10px 15px;
  border-radius: 5px;
}

.menu li a.disabled-link:hover {
  background: rgba(0, 0, 0, 0.05); /* Mantén el fondo sin cambios */
  color: #bbb; /* No cambia el color */
}
nav {
  display: flex;
  justify-content: center; /* Centra los elementos del menú */
  align-items: center;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Cambia el diseño a columnas */
    gap: 10px;
  }

  .menu li a {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
  }
}
