<header class="app-header">
  <nav>
    <ul class="menu">
      <li><a routerLink="/eligibility-calculator">Calculadora de Elegibilidad</a></li>
      <li><a routerLink="/document-list-generator">Lista de Documentos</a></li>
      <li matTooltip="Próximamente" matTooltipPosition="below">
        <a class="disabled-link">
          Rastreador de Progreso
        </a>
      </li>
      <li matTooltip="Próximamente" matTooltipPosition="below">
        <a class="disabled-link">
          Mapa de Consulados
        </a>
      </li>
      <li matTooltip="Próximamente" matTooltipPosition="below">
        <a class="disabled-link">
          Guía de Procedimientos
        </a>
      </li>
      <li matTooltip="Próximamente" matTooltipPosition="below">
        <a class="disabled-link">
          Calculadora de Costos
        </a>
      </li>
    </ul>
  </nav>
</header>