.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 90%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.5); /* Fondo blanco translúcido */
  backdrop-filter: blur(15px); /* Efecto de desenfoque */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  text-align: center;
  transition: all 0.3s ease-in-out;
}

// .calculator {
//   background: rgba(255, 255, 255, 0.7); /* Blanco translúcido */
//   border: 1px solid rgba(255, 255, 255, 0.3); /* Bordes finos */
//   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra ligera */
// }

.calculator:hover {
  transform: scale(1.02); /* Efecto de zoom suave */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al pasar el mouse */
}

h1,
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-family: "Poppins", sans-serif; /* Fuente elegante */
  font-size: 1.3rem; /* Tamaño estándar */
  color: #333; /* Gris oscuro */
  line-height: 1.5; /* Mejora la legibilidad */
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

button {
  background-color: #4b3a29; /* Marrón oscuro */
  color: #fffdf8; /* Blanco cremoso */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8a7a5e;
}

button:active {
  transform: scale(0.95); /* Efecto de pulsación */
}

.result {
  text-align: center;
}
